{% extends "layout.html" %}

{% block content %}

    {% load static %}

    {% include 'partials/avatar.html' %}

    <!-- Page Content Start 🟢-->
    <div id="content" class="content">
        <div class="content__wrapper">

            <!-- Intro Section Start -->
            {% include 'partials/introSection.html' %}
            <!-- Intro Section End -->


            <!-- Portfolio Section Start-->
            {% include 'partials/portfolioSection.html' %}
            <!-- Portfolio Section End -->    
        

            <!-- About Section Start -->
            {% include 'partials/aboutSection.html' %}
            <!-- About Section End -->


            <!-- Resume Section Start -->
            {% include 'partials/resumeSection.html' %}
            <!-- Resume Section End -->


            <!-- Contact Section Start -->
            {% include 'partials/contactSection.html' %}
            <!-- Contact Section End -->

        </div>
    </div> 
    <!-- Page Content End 🟢-->




    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    {% include 'partials/footer.html' %}
    
    
{% endblock  %}