{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anderson - Personal Portfolio & Resume</title>
    
    <!-- Template Favicon & Icons Start -->
    <link rel="icon" href="{% static 'img/favicon/icon.svg' %}" type="image/svg+xml">
    <!-- Template Favicon & Icons End -->

    <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body class="text-light">
    {% include 'partials/navbar.html' %}

    <div class="container p-4">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/libs.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/gallery.js' %}"></script>
</body>
</html>