{% load static %}

<!-- About Section Start -->
<section id="about" class="inner about">

    <!-- Content Block - H2 Section Title Start 🟢 -->
    <div class="content__block section-grid-title">
        <p class="h2__subtitle animate-in-up">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 13 13" fill="currentColor">
                <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
                C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
                C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
            </svg>
            <span>About Me</span>
        </p>
        <h2 class="h2__title animate-in-up">Turning complex problems into simple, automatic solutions</h2>
    </div>
    <!-- Content Block - H2 Section Title End 🟢-->

    <!-- Content Block - Achievements Start 🟢 -->
    <div class="content__block grid-block">
        <div class="achievements d-flex flex-column flex-md-row align-items-md-stretch">
            <!-- achievements single item -->
            <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                    <p class="achievements__number">5+</p>
                    <p class="achievements__descr">Certifications obtained</p>
                </div>
            </div>
            <!-- achievements single item -->
            <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                    <p class="achievements__number">10+</p>
                    <p class="achievements__descr">Dominated technologies</p>
                </div>
            </div>
            <!-- achievements single item -->
            <div class="achievements__item d-flex flex-column grid-item animate-card-3">
                <div class="achievements__card">
                    <p class="achievements__number">20+</p>
                    <p class="achievements__descr">Technologies explored</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Content Block - Achievements End 🟢-->

    <!-- Content Block - About Me Data Start 🟢 -->
    <div class="content__block grid-block block-large">
        <div class="container-fluid p-0">
            <div class="row g-0 justify-content-between">
            
                <!-- About Me Description Start -->
                <div class="col-12 col-xl-8 grid-item about-descr">
                    <p class="about-descr__text animate-in-up">
                        ¡Hola! Soy un ingeniero de sistemas que no se conforma con lo ordinario. 
                        Me apasiona desafiar los límites de la tecnología y crear soluciones que no solo funcionan, 
                        <a href="#0" class="text-link">sino que sorprenden</a>.                        
                    </p>
                    <p class="about-descr__text animate-in-up">
                        Mi mente analítica y mi creatividad desbordante me permiten abordar problemas complejos desde ángulos inesperados. 
                        No me detengo hasta encontrar la solución más 
                        <a href="#0" class="text-link">elegante y eficiente</a> 
                        , 
                        aquella que simplifica lo complejo y hace que la tecnología sea accesible para todos.
                    </p>
                    <p class="about-descr__text animate-in-up">
                        Mi caja de herramientas está llena de
                        <a href="#0" class="text-link">lenguajes de programación</a> 
                        , 
                        <a href="#0" class="text-link">frameworks</a>
                        y                 
                        <a href="#0" class="text-link">metodologías ágiles</a> 
                        que domino con destreza. 
                        Pero lo que realmente me impulsa es la curiosidad insaciable y la pasión por aprender.  
                        Estoy siempre al tanto de las últimas tendencias tecnológicas, 
                        especialmente en el fascinante mundo de la 
                        <a href="#0" class="text-link">inteligencia artificial</a>.                                                
                    </p>
                    <p class="about-descr__text animate-in-up">
                        ¿Buscas a alguien que convierta tus ideas más ambiciosas en realidad? 
                        ¿Alguien que no tema los desafíos y que esté dispuesto a ir más allá para lograr resultados excepcionales? 
                        ¡Entonces has llegado al lugar correcto!                                       
                    </p>
                    <p class="about-descr__text animate-in-up">                        
                        ¡<a href="#0" class="text-link">Contáctame</a>
                        y descubramos juntos cómo podemos llevar tus proyectos al siguiente nivel!                                      
                    </p>
                    <div class="btn-group about-descr__btnholder animate-in-up">
                        <a class="btn mobile-vertical btn-default btn-hover btn-hover-accent" href="{% static 'portfolio/cv.pdf' %}">
                            <span class="btn-caption">Download CV</span>
                            <i class="ph-bold ph-download-simple"></i>
                        </a>
                    </div>
                </div>
                <!-- About Me Description End -->

                <!-- About Me Information Start -->
                <div class="col-12 col-xl-4 grid-item about-info">
                    <div class="about-info__item animate-in-up">
                        <h6>
                            <small class="top">Name</small>
                            Anderson Mancilla
                        </h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                        <h6>
                            <small class="top">Phone</small>
                            <a class="text-link-bold" href="tel:+51961674203">+51 961674203</a>
                        </h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                        <h6>
                            <small class="top">Email</small>
                            <a class="text-link-bold" href="mailto:adrsma16@gmail.com?subject=Message%20from%20your%20site">adrsma16@gmail.com</a>
                        </h6>
                    </div>
                    <div class="about-info__item animate-in-up">
                        <h6>
                            <small class="top">Location</small>
                            <a class="text-link-bold" href="https://maps.app.goo.gl/Ddpyzr5HmbodjaKL7" target="_blank">Lima, Perú</a>
                        </h6>
                    </div>
                </div>
                <!-- About Me Information End -->

            </div>
        </div>
    </div>
    <!-- Content Block - About Me Data End 🟢 -->

    <!-- Content Block - Services Start 🟢 -->
    <div class="content__block grid-block">
        <div class="container-fluid p-0">
            <div class="row g-0 align-items-stretch cards">
                <!-- services cards grid single item -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                        <div class="cards__descr">
                            <h4 class="cards__title animate-in-up">FullStack<br>development</h4>
                            <div class="cards__tags d-flex flex-wrap animate-in-up">
                                <span class="rounded-tag tag-outline">Portfolio</span>
                                <span class="rounded-tag tag-outline">Design to Code</span>
                            </div>
                            <p class="small cards__text animate-in-up">I work with HTML/CSS, Figma and Django.</p>
                        </div>
                        <div class="cards__image d-flex animate-in-up">
                            <img src="{% static 'img/services/1920x1280-bg-main-1.webp' %}" alt="Service/Feature Image">
                        </div>
                    </div>
                </div>
                <!-- services grid cards single item -->
                <div class="col-12 col-md-6 cards__item grid-item animate-card-2">
                    <div class="cards__card d-flex flex-column">
                        <div class="cards__descr">
                            <h4 class="cards__title animate-in-up">FullStack<br>development</h4>
                            <div class="cards__tags d-flex flex-wrap animate-in-up">
                                <span class="rounded-tag tag-outline">UI/UX Design</span>
                                <span class="rounded-tag tag-outline">Real estate</span>
                            </div>
                            <p class="small cards__text animate-in-up">I use PHP, Data Base to create 
                            web.
                            </p>
                        </div>
                        <div class="cards__image d-flex animate-in-up">
                            <img src="{% static 'img/services/1920x1280-bg-main-1.webp' %}" alt="Service/Feature Image">
                        </div>
                    </div>
                </div>               

            </div>
        </div>
    </div>
    <!-- Content Block - Services End 🟢 -->

</section>
<!-- About Section End -->