{% load static %}

<!-- Resume Section Start -->
<section id="resume" class="inner resume">

    <!-- Content Block - H2 Section Title Start 🟢 -->
    <div class="content__block block-large">
      <p class="h2__subtitle animate-in-up">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="13px" height="13px" viewBox="0 0 13 13" fill="currentColor">
          <path fill="currentColor" d="M5.6,12.6c-0.5-0.8-0.7-2.4-1.7-3.5c-1-1-2.7-1.2-3.5-1.7C-0.1,7-0.1,6,0.4,5.6c0.8-0.5,2.3-0.6,3.5-1.8
            C5,2.8,5.1,1.2,5.6,0.4C6-0.1,7-0.1,7.4,0.4c0.5,0.8,0.7,2.4,1.8,3.5c1.2,1.2,2.6,1.2,3.5,1.7c0.6,0.4,0.6,1.4,0,1.7
            C11.8,7.9,10.2,8,9.1,9.1c-1,1-1.2,2.7-1.7,3.5C7,13.1,6,13.1,5.6,12.6z"/>
        </svg>
        <span>Resume</span>
      </p>
      <h2 class="h2__title animate-in-up">Education</h2>
      <p class="h2__text animate-in-up">
        Actualmente estoy cursando mis estudios en la 
        <a href="#0" class="text-link">Universidad</a>, 
        donde estoy construyendo una base sólida en ingeniería de sistemas. 
        Además, he potenciado mis habilidades a través de cursos en 
        <a href="#0" class="text-link">Udemy</a>, 
        especializándome en desarrollo 
        <a href="#0" class="text-link">web full-stack</a> 
        y profundizando en el lenguaje 
        <a href="#0" class="text-link">Python</a>.      
      </p>
    </div>
    <!-- Content Block - H2 Section Title End 🟢 -->

    <!-- Content Block - Education Start -->
    <div class="content__block block-large">

      <!-- H3 Block Start -->
      <div class="section-h3">
        <h3 class="h3__title animate-in-up">My education</h3>
      </div>
      <!-- H3 Block End -->

      <!-- Education Lines Start 🟢 -->
      <div class="container-fluid p-0 resume-lines">
        <!-- education single item 🟢-->
        <div class="row g-0 resume-lines__item animate-in-up">
          <div class="col-12 col-md-2">
            <span class="resume-lines__date animate-in-up">2021 - 2026</span>
          </div>
          <div class="col-12 col-md-5">
            <h5 class="resume-lines__title animate-in-up">Systems Engineer</h5>
            <p class="resume-lines__source animate-in-up">Course by
              <a href="#0" class="text-link-bold" target="_blank">Universidad Nacional Tecnologica de Lima Sur</a>
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p class="small resume-lines__descr animate-in-up"
            >My time at university gave me the opportunity to explore various areas of technology and discover my passion for programming and artificial intelligence.</p>
          </div>
        </div>
        <!-- education single item 🟢 -->
        <div class="row g-0 resume-lines__item animate-in-up">
          <div class="col-12 col-md-2">
            <span class="resume-lines__date animate-in-up">2022 - 2023</span>
          </div>
          <div class="col-12 col-md-5">
            <h5 class="resume-lines__title animate-in-up">Complete web development</h5>
            <p class="resume-lines__source animate-in-up">Course by 
              <a href="#0" class="text-link-bold" target="_blank">Udemy</a>
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p class="small resume-lines__descr animate-in-up">It covered both front-end and back-end development. 
            Throughout this journey, 
            I have acquired and strengthened a wide range of skills and knowledge essential for modern web development.</p>
          </div>
        </div>
        <!-- education single item 🟢 -->
        <div class="row g-0 resume-lines__item animate-in-up">
          <div class="col-12 col-md-2">
            <span class="resume-lines__date animate-in-up">2022</span>
          </div>
          <div class="col-12 col-md-5">
            <h5 class="resume-lines__title animate-in-up">Python</h5>
            <p class="resume-lines__source animate-in-up"> Course by
              <a href="#0" class="text-link-bold" target="_blank">Udemy</a>
            </p>
          </div>
          <div class="col-12 col-md-5">
            <p class="small resume-lines__descr animate-in-up">'Universidad Python - De Cero a Experto Más Completo +71 hrs' 
            en Udemy! Este curso me brindó una base sólida en Python.</p>
          </div>
        </div>
      </div>
      <!-- Education Lines End 🟢 -->

    </div>
    <!-- Content Block - Education End 🟢 -->

    

    <!-- Content Block - H3 Block Start 🟢 -->
    <div class="content__block">
      <div class="section-h3 section-h3-grid">
        <h3 class="h3__title animate-in-up">My favourite tools</h3>
      </div>
    </div>
    <!-- Content Block - H3 Block End 🟢 -->

    <!-- Content Block - Tools List Start 🟢 -->
    <div class="content__block grid-block block-large">
      <!-- Tools List Start -->
      <div class="tools-cards d-flex justify-content-start flex-wrap">
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-vscode.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">VS Code</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-figma.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">Figma</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-make.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">Make</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-postgresql.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">Postgresql</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-obsidian.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">Obsidian</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-html.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">HTML5</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-css.svg' %}" alt="Tools Icon"> 
            <h6 class="tools-cards__caption animate-in-up">CSS3</h6>
          </div>
        </div>
        <!-- tools simgle item -->
        <div class="tools-cards__item d-flex grid-item-s animate-card-5">
          <div class="tools-cards__card">
            <img class="tools-cards__icon animate-in-up" src="{% static 'img/icons/icon-notion.svg' %}" alt="Tools Icon">
            <h6 class="tools-cards__caption animate-in-up">Notion</h6>
          </div>
        </div>
      </div>
      <!-- Tools List End -->
    </div>
    <!-- Content Block - Tools List End 🟢 -->    

  </section>
  <!-- Resume Section End -->